/*  
Skin Name: Black
Version: 1.0
Description: Skin for Music
*/

a {
	color: #000;
}
textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=week]:focus,
#main-nav ul,
.post-share .social-share,
.album-container .jp-progress {
	border-color: #000;
}
#main-nav .current_page_item a:hover, 
#main-nav .current-menu-item a:hover {
	background-color: #000;
	border-color: #000;
}
input[type=reset]:hover,
input[type=submit]:hover,
button:hover,
#headerwrap,
#headerwrap.fixed-header,
#main-nav a:hover,
#main-nav ul a, 
#main-nav .current_page_item ul a, 
#main-nav ul .current_page_item a, 
#main-nav .current-menu-item ul a, 
#main-nav ul .current-menu-item a,
.commentlist .comment-reply-link:hover,
#respond #cancel-comment-reply-link:hover,
#footerwrap,
#footer-player .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
#footer-player .tracklist .wp-playlist-themify .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
#footer-player .mejs-container .mejs-time-rail .mejs-time-total,
.album-container .album-playlist .mejs-controls .mejs-time-rail .mejs-time-current,
a.shortcode.button:hover {
	background-color: #000;
}
#main-nav ul a:hover,
#main-nav .current_page_item ul a:hover, 
#main-nav ul .current_page_item a:hover, 
#main-nav .current-menu-item ul a:hover, 
#main-nav ul .current-menu-item a:hover,
.post-share .box .share-icon:after,
.post-share .share:hover span:after,
.album-container .play-track:hover,
.album-container .pause-track:hover,
.album-container .tracklist .track:hover .play-track,
.album-container .tracklist .track:hover .pause-track,
.album-container .tracklist .track:hover .track-title,
.post-nav a:hover span:before,
.widget .feature-posts-list .feature-posts-title,
#footer-player .player-button:hover,
#footer-player .footer-player-inner .tracklist .wp-playlist .mejs-controls .mejs-playpause-button button:hover,
#footer-player .footer-player-inner .tracklist .wp-playlist .wp-playlist-prev:hover,
#footer-player .footer-player-inner .tracklist .wp-playlist .wp-playlist-next:hover,
.album-container .album-playlist .tracklist .track:hover button,
.album-container .tracklist .track:hover .mejs-time {
	color: #000;
}
#main-nav ul a:hover,
.album-container .tracklist .track:hover {
	background-color: #fff;
}
.commentlist .comment-reply-link,
#respond #cancel-comment-reply-link,
a.shortcode.button,
blockquote:before,
input[type=reset],
input[type=submit],
button,
.buy-button {
	color: #000;
	border-color: #000;
}
.single-event .event-single-details .buy-button,
.single-album .buy-button,
#post-lightbox-wrap .buy-button {
	color: #fff;
	border-color: #fff;
}
.post-share .box a,
.post-share .box .share-icon:after {
	color: inherit;
}
.post-date {
	background-color: #000;
	background-color: rgba(0,0,0,.8);
}
.post-share:hover .box,
.loops-wrapper.slider .carousel-nav-wrap .carousel-prev:hover,
.loops-wrapper.slider .carousel-nav-wrap .carousel-next:hover,
.buy-button:hover,
.collapsed .footer-player-inner .button-switch-player {
	background-color: #000;
}
.loops-wrapper.slider .carousel-pager a.selected  {
	background-color: rgba(0,0,0,.3);
	border-color: #000;
}
.album-container .jp-play-bar {
	background-color: #000 !important;
}