/* .themify_builder_4702_row.module_row_2 Style */
.themify_builder_4702_row.module_row_2.module_row {
	border-top: #b81212 2px solid;
	border-right: #b81212 2px solid;
	border-bottom: #b81212 2px solid;
	border-left: #b81212 2px solid
}

